# Actual Budget HTTP API Configuration
ACTUAL_HTTP_API_URL=http://maxima:5007
ACTUAL_HTTP_API_KEY=your_api_key_here
ACTUAL_BUDGET_SYNC_ID=your_budget_sync_id_here

# Account groups for dashboard (JSON format single line)
ACCOUNT_GROUPS="{\"assets_liquid\": [\"CASH\"], \"assets_investment\": [\"CELI\"], \"assets_physical\": [], \"assets_restricted\": [\"REER\"], \"liabilities_installment\": [\"Prêt\"], \"liabilities_physical\": [], \"liabilities_revolving\": [\"Marge\"], \"liabilities_transacting\": [\"Mastercard\"]}"
